Repository nanoporetech/plasmid-map: changes, and which lint-staged commands are due for each by the changed paths.
All: npx stylelint, git add --force, eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{css,less,styl,scss,sass,sss}": [
    "npx stylelint",
    "git add --force"
  ],
  "*.{js,ts,tsx,jsx}": [
    "eslint --fix"
  ],
  "*.{json,md,graphql}": [
    "prettier --write",
    "git add --force"
  ]
}

Update docs
  readme.md
  src/components.d.ts
  src/components/plasmid-map/plasmid-map.tsx
  src/components/plasmid-map/plasmid-track/plasmid-track.tsx
  src/components/plasmid-map/plasmid-track/readme.md
  src/components/plasmid-map/plasmid-track/track-label/readme.md
  src/components/plasmid-map/plasmid-track/track-label/track-label.tsx
  src/components/plasmid-map/plasmid-track/track-marker/marker-label/marker-label.tsx
  src/components/plasmid-map/plasmid-track/track-marker/marker-label/readme.md
  src/components/plasmid-map/plasmid-track/track-marker/readme.md
  src/components/plasmid-map/plasmid-track/track-marker/track-marker.tsx
  src/components/plasmid-map/plasmid-track/track-scale/readme.md
  src/components/plasmid-map/plasmid-track/track-scale/track-scale.tsx
  src/components/plasmid-map/readme.md
Due: git add --force, eslint --fix, prettier --write

Lint fixes and code cleanup
  package-lock.json
  package.json
  src/components.d.ts
  src/components/plasmid-map/plasmid-map.tsx
  src/components/plasmid-map/plasmid-track/plasmid-track.tsx
  src/components/plasmid-map/plasmid-track/track-label/track-label.tsx
  src/components/plasmid-map/plasmid-track/track-marker/marker-label/marker-label.tsx
  src/components/plasmid-map/plasmid-track/track-marker/track-marker.tsx
  src/components/plasmid-map/plasmid-track/track-scale/track-scale.tsx
  src/types/plasmid.type.ts
  src/utils/index.ts
  src/utils/utils.spec.ts
  src/utils/utils.ts
Due: git add --force, eslint --fix, prettier --write

Support links on marker-labels
  examples/HSP70.html
  examples/all.html
  examples/biojs/all.html
  examples/biojs/intermediate.html
  examples/biojs/pBCA-RLuc.html
  examples/biojs/pBR322.html
  examples/biojs/pLVG440.html
  examples/biojs/pPMA43C.html
  examples/biojs/pUC19.html
  examples/first.html
  examples/main/HSP70.html
  examples/main/pBCA-RLuc.html
  examples/main/pBR322.html
  examples/main/pLVG440.html
  examples/main/pPMA43C.html
  examples/main/pUC19.html
  examples/pBCA-RLuc.html
  examples/pBR322.html
  examples/pLVG440.html
  examples/pPMA43C.html
  examples/pUC19.html
  src/components.d.ts
  src/components/plasmid-map/plasmid-map.scss
  src/components/plasmid-map/plasmid-map.tsx
  src/components/plasmid-map/plasmid-track/plasmid-track.tsx
  src/components/plasmid-map/plasmid-track/track-marker/marker-label/marker-label.tsx
  src/components/plasmid-map/plasmid-track/track-marker/track-marker.tsx
  src/components/plasmid-map/plasmid-track/track-scale/track-scale.tsx
Due: npx stylelint, git add --force, eslint --fix

Add tests for utils
  demo.png
  readme.md
  src/utils/index.spec.ts
  src/utils/index.ts
Due: git add --force, eslint --fix, prettier --write

switch child components to shadow
  src/components/plasmid-map/plasmid-map.tsx
  src/components/plasmid-map/plasmid-track/plasmid-track.tsx
  src/components/plasmid-map/plasmid-track/track-label/track-label.tsx
  src/components/plasmid-map/plasmid-track/track-marker/marker-label/marker-label.tsx
  src/components/plasmid-map/plasmid-track/track-marker/track-marker.tsx
  src/components/plasmid-map/plasmid-track/track-scale/track-scale.tsx
Due: eslint --fix

Update readme
  readme.md
Due: git add --force, prettier --write

Update documentation
  src/components.d.ts
  src/components/plasmid-map/plasmid-map.tsx
  src/components/plasmid-map/plasmid-track/plasmid-track.tsx
  src/components/plasmid-map/plasmid-track/readme.md
  src/components/plasmid-map/plasmid-track/track-label/readme.md
  src/components/plasmid-map/plasmid-track/track-label/track-label.tsx
  src/components/plasmid-map/plasmid-track/track-marker/marker-label/marker-label.tsx
  src/components/plasmid-map/plasmid-track/track-marker/marker-label/readme.md
  src/components/plasmid-map/plasmid-track/track-marker/readme.md
  src/components/plasmid-map/plasmid-track/track-marker/track-marker.tsx
  src/components/plasmid-map/plasmid-track/track-scale/readme.md
  src/components/plasmid-map/plasmid-track/track-scale/track-scale.tsx
  src/components/plasmid-map/readme.md
  src/types/plasmid.type.ts
Due: git add --force, eslint --fix, prettier --write

Add github actions
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .husky/.gitignore
  .husky/pre-push
  changelog.md
Due: git add --force, prettier --write

Add repository
  package.json
Due: git add --force, prettier --write

Fix demo image URL
  readme.md
Due: git add --force, prettier --write

Fix publish action
  .github/workflows/publish.yml
Due: none

Update package.json
  package.json
Due: git add --force, prettier --write

Version bump; Fix publish action
  .github/workflows/publish.yml
  .npmrc
  package.json
Due: git add --force, prettier --write

Fix image URL in readme
  changelog.md
  package.json
  readme.md
Due: git add --force, prettier --write

Fix image URL
  readme.md
Due: git add --force, prettier --write

Fix image URL in readme
  readme.md
Due: git add --force, prettier --write

Version bump
  changelog.md
  package.json
  readme.md
Due: git add --force, prettier --write

New rotation prop on plasmid map
  package.json
  src/components.d.ts
  src/components/plasmid-map/plasmid-map.tsx
  src/components/plasmid-map/plasmid-track/plasmid-track.scss
  src/components/plasmid-map/plasmid-track/track-label/track-label.scss
  src/components/plasmid-map/plasmid-track/track-label/track-label.tsx
  src/components/plasmid-map/plasmid-track/track-marker/marker-label/marker-label.tsx
  src/components/plasmid-map/plasmid-track/track-marker/track-marker.tsx
  src/components/plasmid-map/plasmid-track/track-scale/readme.md
  src/components/plasmid-map/plasmid-track/track-scale/track-scale.tsx
  src/components/plasmid-map/readme.md
  src/index.html
Due: npx stylelint, git add --force, eslint --fix, prettier --write
